/* ------- WEIGHT WATCH GLOBAL STYLING ------- */

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
}
