<div class="container mt-3 p-3 bg-light rounded">
  <div class="row justify-content-center">
    <div class="col col-md-6 col-xxl-4">
      <mat-card *ngIf="currentUser | async as currentUser">
        <mat-card-title>Weight Watch</mat-card-title>
        <mat-card-content>
          <ul>
            <li>
              Current User Reference ->
              <b
                ><u>{{ currentUser.email }}</u></b
              >
            </li>
          </ul>
        </mat-card-content>
      </mat-card>

      <ng-container *ngIf="currentUserLoading | async">
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status"></div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
