<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-xxl-3 mb-3">
      <mat-card>
        <mat-card-content>
          <ng-container *ngIf="currentUser | async as currentUser">
            <div class="row justify-content-center mt-3">
              <div class="col-auto">
                <h2>Hello, {{ currentUser.name ? currentUser.name : currentUser.email }}</h2>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="currentUserLoading | async">
            <div class="row justify-content-center">
              <div class="col-auto">
                <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status"></div>
              </div>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-8 col-xxl-6 mb-3">
      <app-weight-log-card></app-weight-log-card>
    </div>
  </div>
</div>
