<mat-card>
  <mat-card-title class="p-2">
    <div class="row justify-content-between">
      <div class="col-auto d-flex align-items-center">
        <h2 class="mb-0 ps-2">Weight Log</h2>
      </div>

      <div class="col-auto">
        <button
          type="button"
          mat-icon-button
          (click)="chartView = !chartView"
          [disabled]="!weightLog || weightLog.length === 0"
        >
          <mat-icon>{{ chartView ? 'show_chart' : 'list' }}</mat-icon>
        </button>
      </div>
    </div>

    <hr />
  </mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="weightLog && weightLog.length === 0">
      <p class="text-center">No weight log entries yet, add one!</p>
    </ng-container>

    <ng-container *ngIf="weightLog && weightLog.length > 0">
      <ng-container *ngIf="chartView">
        <canvas
          baseChart
          [data]="weightChartData"
          [options]="{
            elements: { line: { tension: 0.5 } },
            interaction: { intersect: false },
            scales: { y: { grace: '50%' } }
          }"
          type="line"
        >
        </canvas>
      </ng-container>

      <ng-container *ngIf="chartView === false">
        <table mat-table [dataSource]="weightTableData" class="mat-elevation-z8 w-100">
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let weightLog">{{ weightLog.weight }}</td>
          </ng-container>

          <!-- Created At Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Created At</th>
            <td mat-cell *matCellDef="let weightLog">{{ weightLog.createdAt | date }}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let weightLog">
              <button type="button" color="warn" mat-icon-button (click)="deleteWeightLogEntry(weightLog)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="weightLogFetchError">
      <p class="text-danger">{{ weightLogFetchError }}</p>
    </ng-container>

    <ng-container *ngIf="weightLogLoading">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status"></div>
        </div>
      </div>
    </ng-container>

    <div class="row justify-content-center mt-5">
      <div class="col-auto">
        <form [formGroup]="addWeightLogForm" (ngSubmit)="addWeightLog()">
          <p><b>Add Weight Log:</b></p>
          <div>
            <mat-form-field>
              <mat-label>Weight</mat-label>
              <input matInput [formControl]="addWeightLogForm.controls.weight" type="number" autocomplete="off" />
              <mat-error *ngIf="addWeightLogForm.controls.weight.hasError('required')"
                >You must enter a value</mat-error
              >
              <mat-error *ngIf="addWeightLogForm.controls.weight.hasError('min')"
                >You must enter a positive number</mat-error
              >
            </mat-form-field>
          </div>

          <div>
            <button [disabled]="addWeightLogLoading" mat-flat-button color="primary" type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
