<div class="container mt-3 p-3 bg-light rounded">
  <div class="row justify-content-center">
    <div class="col col-md-6 col-xxl-4">
      <h1>New User Registration</h1>

      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="registerForm.controls.email" />
          <mat-error *ngIf="registerForm.controls.email.hasError('required')">You must enter a value</mat-error>
          <mat-error *ngIf="registerForm.controls.email.hasError('email')">Not a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="passwordHidden ? 'password' : 'text'"
            [formControl]="registerForm.controls.password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="passwordHidden = !passwordHidden"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="passwordHidden"
            tabindex="-1"
          >
            <mat-icon>{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="registerForm.controls.password.hasError('required')">You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="confirmPasswordHidden ? 'password' : 'text'"
            [formControl]="registerForm.controls.confirmPassword"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="confirmPasswordHidden = !confirmPasswordHidden"
            [attr.aria-label]="'Hide confirm new password'"
            [attr.aria-pressed]="confirmPasswordHidden"
            tabindex="-1"
          >
            <mat-icon>{{ confirmPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('required')"
            >You must enter a value</mat-error
          >
          <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('match')">Passwords must match</mat-error>
        </mat-form-field>

        <div class="mt-2 mb-5">
          <button [disabled]="registerLoading" mat-flat-button color="primary" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
