<mat-toolbar style="height: 45px" class="border-bottom">
  <button mat-icon-button aria-label="Toggle sidenav" (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/" class="text-decoration-none">
    <img
      src="/assets/image/Weight_Watch_logo_130_30.png"
      width="130"
      height="30"
      class="img-responsive"
      alt="Weight Watch Logo"
    />
  </a>
</mat-toolbar>

<mat-sidenav-container style="min-height: calc(100% - 45px)">
  <mat-sidenav [mode]="large ? 'side' : 'over'" [(opened)]="opened" [autoFocus]="false" style="width: 220px">
    <mat-nav-list>
      <!-- LOGGED IN USER NAV MENU ITEMS -->
      <ng-container *ngIf="loggedIn | async">
        <a routerLink="/" class="text-decoration-none">
          <mat-list-item>
            <mat-icon matListItemIcon routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
              >home</mat-icon
            >
            <div matListItemTitle routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }">Home</div>
          </mat-list-item>
        </a>

        <a routerLink="/activity" class="text-decoration-none">
          <mat-list-item>
            <mat-icon matListItemIcon routerLinkActive="text-primary">directions_walk</mat-icon>
            <div matListItemTitle routerLinkActive="text-primary">Activity</div>
          </mat-list-item>
        </a>

        <a routerLink="/user/settings" class="text-decoration-none">
          <mat-list-item>
            <mat-icon matListItemIcon routerLinkActive="text-primary">account_circle</mat-icon>
            <div matListItemTitle routerLinkActive="text-primary">Account Settings</div>
          </mat-list-item>
        </a>

        <mat-list-item (click)="logOut()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <div matListItemTitle>Log Out</div>
        </mat-list-item>
      </ng-container>
      <!-- END LOGGED IN USER NAV MENU ITEMS -->

      <!-- LOGGED OUT USER NAV MENU ITEMS -->
      <ng-container *ngIf="(loggedIn | async) === false">
        <a routerLink="/login" class="text-decoration-none">
          <mat-list-item>
            <mat-icon matListItemIcon routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
              >home</mat-icon
            >
            <div matListItemTitle routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }">
              Login
            </div>
          </mat-list-item>
        </a>

        <a routerLink="/login/register" class="text-decoration-none">
          <mat-list-item>
            <mat-icon matListItemIcon routerLinkActive="text-primary">person_add</mat-icon>
            <div matListItemTitle routerLinkActive="text-primary">Register</div>
          </mat-list-item>
        </a>
      </ng-container>
      <!-- END LOGGED OUT USER NAV MENU ITEMS -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
