<mat-toolbar class="border-bottom bg-white" style="position: sticky; height: 45px">
  <button mat-icon-button aria-label="Toggle sidenav" (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/" class="text-decoration-none">
    <img
      src="/assets/image/WeightWatchApp_Logo_145_30.png"
      width="145"
      height="30"
      class="img-responsive"
      alt="Weight Watch Logo"
    />
  </a>

  <ng-container *ngIf="loggedIn | async">
    <!-- USER POP OVER BUTTON + MENU -->
    <button mat-icon-button class="ms-auto" [matMenuTriggerFor]="userMenu" aria-label="user menu" matTooltip="User">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <a routerLink="/user/settings" class="text-decoration-none">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>User Settings</span>
        </button>
      </a>

      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span class="ms-1 fs-6">Log Out</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100% - 45px)">
  <mat-sidenav [mode]="large ? 'side' : 'over'" [(opened)]="opened" [autoFocus]="false" style="width: 240px">
    <mat-nav-list class="pt-0">
      <!-- LOGGED IN USER NAV MENU ITEMS -->
      <ng-container *ngIf="loggedIn | async">
        <a routerLink="/" class="text-decoration-none">
          <mat-list-item
            (click)="closeSideNavIfNeeded()"
            routerLinkActive="sideNavActiveRouterLink"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon matListItemIcon>home</mat-icon>
            <div matListItemTitle>Home</div>
          </mat-list-item>
        </a>

        <a routerLink="/activity" class="text-decoration-none">
          <mat-list-item (click)="closeSideNavIfNeeded()" routerLinkActive="sideNavActiveRouterLink">
            <mat-icon matListItemIcon>directions_walk</mat-icon>
            <div matListItemTitle>Activity</div>
          </mat-list-item>
        </a>
      </ng-container>
      <!-- END LOGGED IN USER NAV MENU ITEMS -->

      <!-- LOGGED OUT USER NAV MENU ITEMS -->
      <ng-container *ngIf="(loggedIn | async) === false">
        <a routerLink="/login" class="text-decoration-none">
          <mat-list-item
            (click)="closeSideNavIfNeeded()"
            routerLinkActive="sideNavActiveRouterLink"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon matListItemIcon>home</mat-icon>
            <div matListItemTitle>Login</div>
          </mat-list-item>
        </a>

        <a routerLink="/login/register" class="text-decoration-none">
          <mat-list-item (click)="closeSideNavIfNeeded()" routerLinkActive="sideNavActiveRouterLink">
            <mat-icon matListItemIcon>person_add</mat-icon>
            <div matListItemTitle>Register</div>
          </mat-list-item>
        </a>
      </ng-container>
      <!-- END LOGGED OUT USER NAV MENU ITEMS -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="contentBackground" class="pt-5 ps-3 pe-3 pb-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
