<mat-toolbar style="height: 45px" class="border-bottom">
  <button mat-icon-button aria-label="Toggle sidenav" (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/" class="text-decoration-none">
    <img
      src="/assets/image/Weight_Watch_logo_130_30.png"
      width="130"
      height="30"
      class="img-responsive"
      alt="Weight Watch Logo"
    />
  </a>
</mat-toolbar>

<mat-sidenav-container style="min-height: calc(100% - 45px)">
  <mat-sidenav [mode]="large ? 'side' : 'over'" [(opened)]="opened" [autoFocus]="false" style="width: 220px">
    <mat-nav-list>
      <!-- LOGGED IN USER NAV MENU ITEMS -->
      <ng-container *ngIf="loggedIn | async">
        <a routerLink="/">
          <mat-list-item routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }">
            <p matLine>Home</p>
            <button mat-icon-button>
              <mat-icon>home</mat-icon>
            </button>
          </mat-list-item>
        </a>

        <a routerLink="/activity">
          <mat-list-item routerLinkActive="text-primary">
            <p matLine>Activity</p>
            <button mat-icon-button>
              <mat-icon>directions_walk</mat-icon>
            </button>
          </mat-list-item>
        </a>

        <a routerLink="/user/settings">
          <mat-list-item routerLinkActive="text-primary">
            <p matLine>Account Settings</p>
            <button mat-icon-button>
              <mat-icon>account_circle</mat-icon>
            </button>
          </mat-list-item>
        </a>

        <mat-list-item (click)="logOut()">
          <p matLine>Log Out</p>
          <button mat-icon-button>
            <mat-icon>logout</mat-icon>
          </button>
        </mat-list-item>
      </ng-container>
      <!-- END LOGGED IN USER NAV MENU ITEMS -->

      <!-- LOGGED OUT USER NAV MENU ITEMS -->
      <ng-container *ngIf="(loggedIn | async) === false">
        <a routerLink="/login">
          <mat-list-item>
            <p matLine>Login</p>
            <button mat-icon-button>
              <mat-icon>home</mat-icon>
            </button>
          </mat-list-item>
        </a>

        <a routerLink="/login/register">
          <mat-list-item>
            <p matLine>Register</p>
            <button mat-icon-button>
              <mat-icon>person_add</mat-icon>
            </button>
          </mat-list-item>
        </a>
      </ng-container>
      <!-- END LOGGED OUT USER NAV MENU ITEMS -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
